<%- model_class = @theme.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:theme_code) %>:</strong><br>
  <%= @theme.theme_code %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:theme_description) %>:</strong><br>
  <%= @theme.theme_description %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:theme_private_field) %>:</strong><br>
  <%= @theme.theme_private_field %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              themes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_theme_path(@theme), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              theme_path(@theme),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
