<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :middle_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :middle_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :acronym, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :acronym, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email_status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email_status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :recruited_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :recruited_at, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :department_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :department_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :academy_flag, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :academy_flag, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :manager_flag, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :manager_flag, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :trainer_flag, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :trainer_flag, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hierarchy_level, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :hierarchy_level, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :company_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :company_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :manager_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :manager_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
