<%- model_class = Department.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:company_id) %></th>
      <th><%= model_class.human_attribute_name(:level_1) %></th>
      <th><%= model_class.human_attribute_name(:level_2) %></th>
      <th><%= model_class.human_attribute_name(:department) %></th>
      <th><%= model_class.human_attribute_name(:hierarchy_level) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= link_to department.id, department_path(department) %></td>
        <td><%= department.company_id.nil?     ? ''    : department.company.code %></td>
        <td><%= department.level_1 %></td>
        <td><%= department.level_2 %></td>
        <td><%= department.department %></td>
        <td><%= department.hierarchy_level %></td>
         <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_department_path(department), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      department_path(department),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_department_path,
            :class => 'btn btn-primary' %>
