<%= simple_form_for @course, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association  :subject, :collection => Subject.all(:order => 'subject_code ASC'), :label_method => :subject_description %>
  <%= f.input :course_code %>
  <%= f.input :course_title %>
  <%= f.input :course_introduction, :input_html => { :class => "span4" }%>
  <%= f.input :course_description %>
  <%= f.input :course_training_material_ref, :label => 'Material ref' %>
  <%= f.input :course_planned_duration, :label => 'Duration' %>
  <%= f.input :course_status, :collection => ['Available', 'Discontinued'], :as => :radio %>
  <%= f.input :course_audience, :collection => ['Public', 'Private', 'Partner'], :as => :radio, :label => 'Audience'%>
  <%= f.association :company,  :label_method => :code %>
  <%= f.input :course_order %>
  <%= f.input :course_type, :collection => ['Presentation', 'Workshop','E-learning'], :as => :radio %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                courses_path, :class => 'btn' %>
  </div>
<% end %>
