<%- model_class = @program_course.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:course_id) %>:</strong><br>
  <%= @program_course.course_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:program_id) %>:</strong><br>
  <%= @program_course.program_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:duration) %>:</strong><br>
  <%= @program_course.duration %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:unit) %>:</strong><br>
  <%= @program_course.unit %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:program_course_order) %>:</strong><br>
  <%= @program_course.program_course_order %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:description) %>:</strong><br>
  <%= @program_course.description %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              program_courses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_program_course_path(@program_course), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              program_course_path(@program_course),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
